---
import Layout from '../../layouts/Layout.astro';
import SiteMenu from '../../components/SiteMenu.astro';
import Footer from '../../components/Footer.astro';
import ServiceDetailContent from '../../components/ServiceDetailContent.astro';
import { serviceDetails } from '../../data/serviceDetails';

const service = serviceDetails['pc-build'];
---

<Layout title={`${service.title} | Hardwire Core`} description={service.description}>
  <SiteMenu />
  <main>
    <ServiceDetailContent service={service} />
  </main>
  <Footer />
</Layout>
