---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Hardwire Core',
  description = 'Professional computer repair services in Stanwell TW19.',
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#080808" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
		<link
			href="https://fonts.googleapis.com/css2?family=Michroma&family=Exo+2:wght@300;400;600;700&family=IBM+Plex+Mono:wght@400;500&display=swap"
			rel="stylesheet"
		/>
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
